@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<div id="registerSection">
    <div class="row userinput">
        <label id="emailLabel" for="email" class="required">Email*</label>
        <span id="emailError" class="required">required</span>
        <input id="email" type="text" maxlength="200" />
    </div>
    <div class="row userinput">
        <label id="passwordLabel" for="password" class="required">Password*</label>
        <span id="passwordError" class="required">required</span>
        <input id="password" type="password" maxlength="20" />
    </div>
    <div class="row userinput">
        <label id="firstNameLabel" for="firstname" class="required">First Name*</label>
        <span id="firstnameError" class="required">required</span>
        <input id="firstname" type="text" maxlength="200" />
    </div>
    <div class="row userinput">
        <label id="lastNameLabel" for="lastname" class="required">Last Name*</label>
        <span id="lastnameError" class="required">required</span>
        <input id="lastname" type="text" maxlength="200" />
    </div>
    <div class="row userinput">
        <label id="phoneNumberLabel" for="phoneNumber" class="required">Phone number*</label>
        <span id="phoneNumberError" class="required">required</span>
        <input id="phoneNumber" type="text" maxlength="200" />
    </div>
    <div class="row">
        <input id="regsiterProviderChk" type="checkbox"/><span style="margin-left: 5px;">Register as provider</span>
    </div>
    <div id="providerInfoSection" style="display:none;">
        @Html.Partial("AddressInput")
    </div>
    <div id="registerButton" class="row userinput">
        <button id="registerbtn" class="btn btn-primary" onclick="javascript:registerClicked();">Register</button>
    </div>
</div>
<script type="text/javascript">
    function registerClicked(){
        $('#registerSection span.required').hide();

        var emailValue = $('#email').val();
        var passwordValue = $('#password').val();
        var firstNameValue = $('#firstname').val();
        var lastNameValue = $('#lastname').val();
        var phoneNumberValue = $('#phoneNumber').val();

        var registerAsProvider = $('#regsiterProviderChk').is(':checked');
        var isValid = ValidateField(emailValue, '#emailError');
        isValid &= ValidateField(passwordValue, '#passwordError');
        isValid &= ValidateField(firstNameValue, '#firstnameError');
        isValid &= ValidateField(lastNameValue, '#lastnameError');
        isValid &= ValidateField(phoneNumberValue, '#phoneNumberError');

        var providerData = null;
        if (registerAsProvider) {
            providerData = ValidateAddressInput();
        }

        if (!isValid || (registerAsProvider && !providerData)) {
            return false;
        }

        var postData = {
            "UserInfo": {
                "Email": emailValue, 
                "Password": passwordValue,
                "FirstName": firstNameValue,
                "LastName": lastNameValue,
                "PhoneNumber": phoneNumberValue
            },
        };
        if (providerData) {
            postData["ProviderInfo"] = providerData;
        }
        PostData(baseAddress + "/SearchFood/RegisterUser", postData,
            function(data){
                console.log(data);
                if (data && data.Messages.length > 0) {
                    alert("Failed to register user.");
                }
                else if (data) {
                    var userId = data.UserId;
                    $.cookie("userId", userId, { expires: 7 });
                    RedirectTo("/SearchFood/FoodMap");
                }
            },
            function(data) {
                alert('Error');
                console.log(data);
            });
        return false;
    }

    $(document).ready(function () {
        $('#regsiterProviderChk').change(function() {
            if ($(this).is(":checked")) {
                $('#providerInfoSection').show();
            } else {
                $('#providerInfoSection').hide();
            }
        });
    });
</script>
