@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div id="placeOrderSection">
    <div id="dishList"></div>
    <div id="placeOrderButton" class="row userinput">
        <button id="placeOrderbtn" class="btn btn-primary" onclick="javascript:placeOrder();" disabled="disabled">Place Order</button>
    </div>
</div>
<div id="orderSummarySection" style="display:none;">
    <h2>Thank you for your order. Below is your order summary</h2>
    <div id="itemList"></div>
    <div style="float:right; font-size:larger; font-weight: bolder;">
        <label id="totalLabel" for="total">Total:</label>
        <span id="orderTotal" style="margin-left: 10px;" />
    </div>
</div>
<script type="text/javascript">

    function retrieveDish(providerId) {
        GetData(baseAddress + "/SearchFood/GetDishes?providerId=" + providerId,
            function (data) {
                renderDishes(data);
            },
            function (data) {
                alert("Error");
                console.log(data);
            });
    }

    function renderDishes(dishes) {
        if (dishes.length > 0) {
            var tableString = "<table id=\"selectDish\"> \
                            <thead> \
                                <tr> \
                                    <td>&nbsp;</td> \
                                    <td>Name</td> \
                                    <td>Description</td> \
                                    <td>Ingredients</td> \
                                    <td>Type</td> \
                                    <td>Price</td> \
                                    <td>Waiting Time</td> \
                                    <td>Quantity</td> \
                                </tr> \
                            </thead> \
                            <tbody>";
            for (var index = 0; index < dishes.length; index++) {
                var dish = dishes[index];
                if (!dish.Available) {
                    continue;
                }
                tableString += "<tr> \
                                    <td><input type=\"checkbox\" class=\"dishChecker\" value=\""+ dish.DishId +"\"/></td> \
                                    <td class=\"dishName\">" + dish.DishName + "</td> \
                                    <td>" + dish.Description + "</td> \
                                    <td>" + dish.Ingredients + "</td> \
                                    <td>" + dish.Type + "</td> \
                                    <td class=\"price\">" + dish.Price + "</td> \
                                    <td>" + dish.WaitingTimeInMins + "</td> \
                                    <td>"+ quantitySelector() +"</td> \
                               </tr>"
            }
            tableString += "</tbody></table>";
            $('#dishList').html(tableString);
            $('.dishChecker').change(function () {
                if ($('.dishChecker:checked').length > 0) {
                    $('#placeOrderbtn').prop('disabled', false);
                }
                else {
                    $('#placeOrderbtn').prop('disabled', true);
                }
            });
        }
    }

    function placeOrder() {
        var userId = GetUserIdFromCookie();
        var orderItems = [];
        var detailedOrderItems = [];
        var subtotal = 0;
        $('#selectDish tbody tr').each(function () {
            var selected = $(this).find('input.dishChecker').is(':checked');
            if (selected) {
                var quantity = parseInt($(this).find('select option:selected').first().val());
                if (quantity > 0) {
                    var dishId = $(this).find('input.dishChecker').attr('value');
                    var dishName = $(this).children('.dishName').text();
                    var price = parseFloat($(this).children('.price').text());
                    subtotal += quantity * price;
                    orderItems.push({ "DishId": dishId, "Quantity": quantity });
                    detailedOrderItems.push({ "DishName": dishName, "Quantity": quantity });
                }
            }
        });

        var postData = { "UserId": userId, "OrderItems": orderItems };
        PostData(baseAddress + "/SearchFood/PlaceOrder", postData,
            function (data) {
                if (data && data.Messages.length > 0) {
                    alert("Place order failed.");
                    console.log(data);
                }
                else if(data) {
                    $('#placeOrderSection').hide();
                    ShowOrderSummary(detailedOrderItems, subtotal);
                    $('#orderSummarySection').show();
                }
            },
            function (data) {
                alert("Error while placing order.");
                console.log(data);
            });
    }

    function ShowOrderSummary(orderItems, subtotal) {
        var tableString = "<table> \
                            <thead> \
                                <tr> \
                                    <td>Item</td>\
                                    <td>Quantity</td>\
                                </tr> \
                            </thead> \
                            <tbody>";
        console.log(orderItems);
        for (var index = 0; index < orderItems.length; index++) {
            tableString += "<tr> \
                                <td>" + orderItems[index].DishName + "</td> \
                                <td>" + orderItems[index].Quantity + "</td> \
                            </tr>";
        }
        tableString += "</tbody></table>";
        $('#itemList').html(tableString);
        $('#orderTotal').text(subtotal.toFixed(2));
    }

    function quantitySelector() {
        var selectorString = "<select class=\"quantitySelector\"> \
                                <option value=\"1\">1</option> \
                                <option value=\"2\">2</option> \
                                <option value=\"3\">3</option> \
                                <option value=\"4\">4</option> \
                                <option value=\"5\">5</option> \
                             </selector>";
        return selectorString;
    }

    $(document).ready(function () {
        $('#orderSummarySection').hide();
        $('.registerlogin').hide();
        $('.searchfood').show();

        var providerId = $.getUrlVar('providerId');
        if (providerId) {
            retrieveDish(providerId);
        }
        else {
            RedirectToLogin();
        }
    });
</script>
