<div class="jumbotron">
    <h1>Find Home Made Food Near Me (Service)</h1>
</div>
<div class="row">
    <div class="col-md-4">
        This is service part of Find Home Made Food Near Me application
    </div>
</div>
